/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
    background-image: url(Assets/images/light-patten.svg);
}
.rating-color
{
    color: var(--rating-color);
}
.icon-cstm{
    width: 25px;
    height: 30px;
    right: 3%;
    top:1%
}

.icon-color1{
    color:red;
}
.D-width{
    width: 65%;
}
.price-width{
    width: 85% !important;
}
.btn-width{
    width: 45%;
}
.input-width{
    width: 90% !important;
}
.cursor-pointer
{
    cursor: pointer;
}
.border-main{
    border: solid 1px var(--main-color) !important;
}
.item{
    transition: box-shadow 0.5s;
}
.item:hover{
    
    -webkit-box-shadow: -1px -1px 19px 2px rgba(245,5,17,1); 
    -moz-box-shadow: -1px -1px 19px 2px rgba(245,5,17,1);
     box-shadow: -1px -1px 19px 2px rgba(245,5,17,1);
    
    
}
.img-radius{
    border-radius: 5px;
}
.network{
    position: fixed;
    bottom: 4%;
    left: 2%;
    background-color: #fff;
    padding: 20px;
    z-index: 99999;
    box-shadow: var(--shadow);
}
a , a:hover{
    color: black !important;
    text-decoration: none !important;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color) !important;
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}